<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Your profile</title>
    <script type="text/javascript" src="../../static/dubbo.js"></script>
</head>
<body>
<div class="row" layout:fragment="content">

    <h2 class="indigo-text center">Dubbo 泛化调用配置页面</h2>

    <form th:action="@{/dubbo/update}" th:object="${genericConfig}" method="post" class="col m8 s11 offset-m2"
          th:onsubmit="updateAction()">

        <div class="row">
            <div class="input-field col s6">
                <input th:field="${genericConfig.serviceName}" id="serviceName" type="text"/>
                <label for="serviceName">接口全限定名</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="email" type="text"/>
                <label for="email">1123</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="birthDate" type="text"/>
                <label for="birthDate">Birth Date</label>
            </div>
        </div>
        <div class="row s12">
            <button class="btn waves-effect waves-light" type="submit" name="save">Submit<i
                    class="mdi-content-snd right"></i></button>
        </div>

        <div class="row s12">
            <button id="updateButton" class="btn waves-effect waves-light" type="button" name="save">Submit<i
                    class="mdi-content-snd right"></i></button>
        </div>
    </form>

</div>

<script type="text/javascript">
    function myFunction() {
        alert("提交成功!");
    }
</script>
</body>
</html>