<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>2019年04月02日 - 日迹 曾小满的盒子 ShareMan</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="csrf-token" content="YsHVzjI9kUz1NI5yH2t9lDjxhGx9R0daCswfDGFv">
    <meta name="author" content="曾小满,ShareMan">
    <meta name="keywords" content="曾小满,曾小满的盒子,小满,ShareMan,ShareMan&#039;s Box,">
    <meta name="description" content="生活就像盒子，我把生活的点滴珍藏在盒子里。 ">
    <meta name="baidu-site-verification" content="WCjRBdAo53" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="曾小满的盒子">
    <meta property="og:title" content="2019年04月02日 - 曾小满的盒子 ShareMan">
    <meta property="og:description" content="生活就像盒子，我把生活的点滴珍藏在盒子里。 ">
    <link rel="icon" href="https://share-man.com/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="https://share-man.com/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/css/build/app.css?id=e9e42120d24fd7d3285e">
    <link rel="stylesheet" type="text/css" href="/css/build/vendor.css?id=1679dcd38f5d43f1ef64">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_786456_rn5rz8gvrq.css">
    <script type="text/javascript" src="/js/build/app.js?id=eddf112c618bb1bb524c"></script>
    <script>if (typeof module === 'object') {
        window.jQuery = window.$ = module.exports;
    }
    ;</script>
    <script>var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?15a2c685afbd639a5537af013711da1e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>
</head>
<body id="body" class="body">
<header>
    <div class="header-container">
        <div class="header-main container">
            <div class="header-main-logo">
                <a href="https://share-man.com" class="logo">
                    <img src="https://cdn.share-man.com/images/59f40dc63499871fd2173fefdc96f8bd.png"/>
                </a>
            </div>
            <div class="header-main-menu">
                <ul class="tabs tabs-transparent">
                    <li class="tab hide-on-small-only">
                        <a href="/calendar" target="_self"
                        >
                            <i class="iconfont icon-calendar"></i> 日迹</a>
                    </li>
                    <li class="tab hide-on-small-only">
                        <a href="/idea" target="_self"
                        >
                            <i class="iconfont icon-bulb"></i> 想法</a>
                    </li>
                    <li class="tab hide-on-small-only">
                        <a href="/blog" target="_self"
                        >
                            <i class="iconfont icon-post"></i> 博文</a>
                    </li>
                    <li class="tab hide-on-small-only">
                        <a href="/project" target="_self"
                        >
                            <i class="iconfont icon-work"></i> 项目</a>
                    </li>
                    <li class="tab hide-on-small-only">
                        <a href="/movie" target="_self"
                        >
                            <i class="iconfont icon-movie"></i> 观影</a>
                    </li>
                    <li class="tab hide-on-small-only">
                        <a href="/mail" target="_self"
                        >
                            <i class="iconfont icon-mail"></i> 邮局</a>
                    </li>
                    <li class="tab hide-on-small-only">
                        <a href="/bill" target="_self"
                        >
                            <i class="iconfont icon-bill"></i> 账单</a>
                    </li>
                    <li class="tab tab-button" id="searchBoxButton">
                        <a><i class="iconfont icon-search"></i></a>
                    </li>
                    <li class="tab hide-on-med-and-up tab-button" id="moduleMenuButton" _>
                        <a><i class="iconfont icon-category"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-bar">
            <div class="container">
            </div>
        </div>
        <div class="header-module container">
            <div class="header-module-item">
            </div>
            <div class="header-module-item">
                2019年04月02日            </div>
        </div>
    </div>
</header>

<div class="blur-mask search-toggle module-toggle" style="display: none"></div>
<div class="search-box search-toggle" style="display: none">
    <div class="search-box-body">
        <div class="row">
            <div class="col s12 m10 l8 offset-m1 offset-l2">
                <div class="search-box-title"># 搜索</div>
                <form method="get" action="https://share-man.com/search" autocomplete="off">
                    <div class="input-field">
                        <input id="search" type="search" required class="center" name="q" autocomplete="off">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="module-menu module-toggle" style="display: none">
    <div class="module-menu-body">
        <div class="row">
            <div class="col s12 m10 l8 offset-m1 offset-l2">
                <div class="module-menu-container">
                    <a href="/calendar" target="_self"
                       class="module-menu-item ">
                        <i class="iconfont icon-calendar"></i> 日迹
                    </a>
                    <a href="/idea" target="_self"
                       class="module-menu-item ">
                        <i class="iconfont icon-bulb"></i> 想法
                    </a>
                    <a href="/blog" target="_self"
                       class="module-menu-item ">
                        <i class="iconfont icon-post"></i> 博文
                    </a>
                    <a href="/project" target="_self"
                       class="module-menu-item ">
                        <i class="iconfont icon-work"></i> 项目
                    </a>
                    <a href="/movie" target="_self"
                       class="module-menu-item ">
                        <i class="iconfont icon-movie"></i> 观影
                    </a>
                    <a href="/mail" target="_self"
                       class="module-menu-item ">
                        <i class="iconfont icon-mail"></i> 邮局
                    </a>
                    <a href="/bill" target="_self"
                       class="module-menu-item ">
                        <i class="iconfont icon-bill"></i> 账单
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card time-panel"
                     style="background-image: url(https://cdn.share-man.com/dayImage/f575147da8c7390a54c6c35f2db9c374.jpg)" >
                    <div class="time-panel-text">
                        <div class="time-panel-date">
                            2019年04月02日
                        </div>
                        <div class="time-panel-info">
                            1天前 / 星期 2 / 2019
                            年的第 91 天 ( 25% )
                        </div>
                    </div>
                    <div class="time-panel-overlay">
                    </div>
                </div>
                <div class="nav-panel">
                    <div class="nav-panel-left-arrow">
                        <i class="iconfont icon-angle-left"></i>
                    </div>
                    <div class="nav-panel-right-arrow">
                        <i class="iconfont icon-angle-right"></i>
                    </div>
                    <div class="nav-panel-left">
                        <a href="../2019-04-01">
                            <span>2019-04-01</span>
                            前一天
                        </a>
                    </div>
                    <div class="nav-panel-center">
                        <a href="../2019-04-03">
                            <span>2019-04-03</span>
                            今天
                        </a>
                    </div>
                    <div class="nav-panel-right">
                        <a href="../2019-04-03">
                            <span>2019-04-03</span>
                            后一天
                        </a>
                    </div>
                </div>                <ul class="collapsible expandable">
                <li class="active">
                    <div class="collapsible-header"><i class="iconfont icon-sleep"></i>睡眠时间</div>
                    <div class="collapsible-body">
                        <span class="tag-item">昨晚入睡 02:03:00</span>
                        <span class="tag-item">今早起床 09:20:00</span>
                        <span class="tag-item">睡眠时长 7.3时</span>
                    </div>
                </li>
                <li class="active">
                    <div class="collapsible-header"><i class="iconfont icon-weather"></i>天气状况</div>
                    <div class="collapsible-body">
                        <span class="tag-item">寒冷</span>
                    </div>
                </li>
                <li class="active">
                    <div class="collapsible-header"><i class="iconfont icon-mood"></i>情绪变化<span
                            class="badge">1</span></div>
                    <div class="collapsible-body">                                        <span class="tag-item">烦躁</span>
                    </div>
                </li>
                <li class="active">
                    <div class="collapsible-header"><i class="iconfont icon-location"></i>地点定位<span
                            class="badge">4</span></div>
                    <div class="collapsible-body">                                        <span class="tag-item">中洲锦城湖岸</span>
                        <span class="tag-item">天府三街</span>
                        <span class="tag-item">成都腾讯</span>
                        <span class="tag-item">峰汇中心</span>
                    </div>
                </li>
                <li class="active">
                    <div class="collapsible-header"><i class="iconfont icon-users"></i>印象人物<span
                            class="badge">4</span></div>
                    <div class="collapsible-body">                                        <span class="tag-item">郑世睿</span>
                        <span class="tag-item">王治文</span>
                        <span class="tag-item">*李小敏</span>
                        <span class="tag-item">*高博冉</span>
                    </div>
                </li>
                <li class="active">
                    <div class="collapsible-header"><i class="iconfont icon-food"></i>食物摄入<span
                            class="badge">11</span></div>
                    <div class="collapsible-body">                                        <span class="tag-item">面包</span>
                        <span class="tag-item">青椒</span>
                        <span class="tag-item">米饭</span>
                        <span class="tag-item">猪肉</span>
                        <span class="tag-item">紫菜</span>
                        <span class="tag-item">蛋黄酥</span>
                        <span class="tag-item">脑花</span>
                        <span class="tag-item">面条</span>
                        <span class="tag-item">薯片</span>
                        <span class="tag-item">柠檬</span>
                        <span class="tag-item">枸杞</span>
                    </div>
                </li>
                <li class="active">
                    <div class="collapsible-header"><i class="iconfont icon-run"></i>今日步数
                    </div>
                    <div class="collapsible-body">
                        <span class="tag-item">9250 步</span>
                        <span class="tag-item">达标 93 %</span>
                    </div>
                </li>
                <li class="active">
                    <div class="collapsible-header"><i class="iconfont icon-schedule"></i>周期动作<span
                            class="badge">2</span>
                    </div>
                    <div class="collapsible-body">                                        <span class="tag-item">午休</span>
                        <span class="tag-item">写代码</span>
                    </div>
                </li>
            </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l10 offset-l1">
                <div class="comment-container" id="comment">
                    <div class="comment-header">
                        <i class="iconfont icon-gramphone"></i> 留声机
                    </div>
                    <div class="comment-body">
                        <form action="https://share-man.com/comment/submit" method="post" autocomplete="off">
                            <input type="hidden" name="_token" value="YsHVzjI9kUz1NI5yH2t9lDjxhGx9R0daCswfDGFv">
                            <input type="hidden" name="commentable_type" value="App\Day">
                            <input type="hidden" name="commentable_id" value="9623">
                            <input type="hidden" name="fromUrl" value="https://share-man.com/2019-04-02">
                            <div class="row">
                                <div id="commentUserInfo">
                                    <div class="input-field col s6 l6">
                                        <input name="username" id="username" type="text" required minlength="1" maxlength="8"
                                               value="">
                                        <label for="username">姓名 *</label>
                                    </div>
                                    <div class="input-field col s6 l6">
                                        <input name="email" id="email" type="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                                               value="">
                                        <label for="email">邮箱 *</label>
                                    </div>
                                    <div class="input-field col s6 l6">
                                        <input name="site" id="site" type="url" value="">
                                        <label for="site">网站
                                            <small>(http(s)://)</small>
                                        </label>
                                    </div>
                                    <div class="input-field col s6 l6">
                                        <input name="qq" id="qq" type="number" value="">
                                        <label for="qq">QQ
                                        </label>
                                    </div>
                                </div>
                                <div id="historyUserInfo" class="col s12">
                                    <span id="changeUserInfo">( 切换身份 )</span>
                                </div>
                                <div class="col s12">
                            <textarea required
                                      placeholder=" 留声机始于2018年5月20日，欢迎你留下回忆。 "
                                      name="Content" id="content"
                                      maxlength="500" minlength="2" autocomplete="off"></textarea>
                                </div>
                                <div class="col s12">
                                    <div class="comment-action">
                                        <div class="comment-captcha">
                                            <script src="https://static.geetest.com/static/tools/gt.js"></script>
                                            <div id="geetest-captcha"></div>
                                            <p id="wait-geetest-captcha" class="show">正在加载验证码...</p>
                                            <script>
                                                var geetest = function(url) {
                                                    var handlerEmbed = function(captchaObj) {
                                                        $("#geetest-captcha").closest('form').submit(function(e) {
                                                            var validate = captchaObj.getValidate();
                                                            if (!validate) {
                                                                alert('请正确完成验证码操作');
                                                                e.preventDefault();
                                                            }
                                                        });
                                                        captchaObj.appendTo("#geetest-captcha");
                                                        captchaObj.onReady(function() {
                                                            $("#wait-geetest-captcha")[0].className = "hide";
                                                        });
                                                        if ('popup' == 'popup') {
                                                            captchaObj.bindOn($('#geetest-captcha').closest('form').find(':submit'));
                                                            captchaObj.appendTo("#geetest-captcha");
                                                        }
                                                    };
                                                    $.ajax({
                                                        url: url + "?t=" + (new Date()).getTime(),
                                                        type: "get",
                                                        dataType: "json",
                                                        success: function(data) {
                                                            initGeetest({
                                                                gt: data.gt,
                                                                challenge: data.challenge,
                                                                product: "popup",
                                                                offline: !data.success,
                                                                new_captcha: data.new_captcha,
                                                                lang: 'zh-cn',
                                                                http: 'https' + '://'
                                                            }, handlerEmbed);
                                                        }
                                                    });
                                                };
                                                (function() {
                                                    geetest('/geetest');
                                                })();
                                            </script>

                                        </div>
                                        <button id="submitComment" class="waves-effect waves-indigo indigo white-text"
                                                type="submit">
                                            发送
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="comment-list">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<footer class="white">
    <div class="container">
        <div>
            <a href="/about" target="_self">关于</a>
            <a href="/link" target="_self">邻居</a>
        </div>
        <div>
            蜀ICP备13013524号
            <i class="iconfont icon-copyright"></i><a href="https://share-man.com">ShareMan</a>
        </div>
    </div>
</footer><script>
    $(function () {
    })
</script>


<script>
    $("#submitComment").click(function () {
        // $(this).hide();
    });
    if ('' !== '') {
        $("#commentUserInfo").hide();
        $("#historyUserInfo").show();
    }
    $("#changeUserInfo").click(function () {
        $("#commentUserInfo").show();
        $("#historyUserInfo").hide();
    })
</script>
<script>
    $(document).ready(function () {
        $("#calendar").ionCalendar({
            lang: 'zh-cn',
            format: 'YYYY-MM-DD',
            sundayFirst: false,
            years: "21",
            onClick: function (date) {
                location.href = "../" + date;
            }
        });
        /*$("#calendarButton").click(function () {
            $("#calendarButton").hide();
            $("#calendar").show(500);
        });*/
        let elem = document.querySelector('.collapsible.expandable');
        let instance = M.Collapsible.init(elem, {
            accordion: false
        });
    });
</script>
<script type="text/javascript" src="/js/build/vendor.js?id=ec75fc90f4e18b6e897b"></script>
<script type="text/javascript" src="https://share-man.com/js/function.js?1554253300"></script>
</body>
</html>
