<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <title>醉生梦死</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link href="/chat.css" type="text/css" rel="stylesheet"/>

    <script src="webjars/materializecss.1.0.0/css/materialize.css"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript">
        function log(msg) {
            var ta = document.getElementById('responseContent');
            ta.value += msg + "\r\n";
        }

        $(function () {
            $('#url').val((location.protocol.indexOf('https') == -1 ? 'ws://' : 'wss://') + location.host + '/ws')
            if (!WebSocket) {
                $('#not-supported').show()
            } else {
                var ws = null;
                $('#connect').click(function () {
                    if (ws == null || ws.readyState != 1) {
                        ws = new WebSocket("ws://127.0.0.1:9991/ws");
                        ws.onerror = function (e) {
                            log('Error : ' + e.message)
                        };
                        ws.onopen = function () {
                            log('connected')
                        };
                        ws.onclose = function () {
                            log('disconnected')
                        };
                        ws.onmessage = function (event) {
                            log(event.data);
                        };
                        $('#send').click(function () {
                            var msg = $('#address').val();
                            $('#address').val('');
                            if (ws.send(msg)) {
                                log('Message sent')
                            } else {
                                log('Message not sent')
                            }
                        })
                    } else {
                        log('closing connection');
                        ws.close()
                    }
                })
            }
        })
    </script>
</head>
<body>

<form>
    <div class="card-panel hoverable z-depth-5 chat-area">醉生梦死</div>
</form>
<form>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="address" class="materialize-textarea"></textarea>
                    <label for="address">输入你想发送的消息</label>
                </div>

                <a class="waves-effect waves-light btn" type="submit" id="send">发送</a>

                <div class="row">
                    <label>建立链接</label>
                    <div class="switch" id="connect"><label>Off<input type="checkbox" checked><span class="lever"></span>On</label></div>
                </div>
                <div class="row">
                    <label>Materialize Disabled Switch</label>
                    <div class="switch"><label>Off<input disabled type="checkbox"><span class="lever"></span>On</label></div>
                </div>
            </div>
        </form>
        <a class="waves-effect waves-light btn">按钮</a>
        <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>按钮</a>
    </div>

    <h2>客户端接收到服务端返回的应答消息</h2>
    <textarea id = "responseContent" style = "width:1024px; height:300px"></textarea>
</form>


</body>
</html>