<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <title>醉生梦死</title>
    <link href="/webjars/materializecss/1.0.0/css/materialize.css" type="text/css" rel="stylesheet"
          media="screen,projetion"/>
    <link href="/chat.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<form>
    <div class="card-panel hoverable z-depth-5 chat-area">醉生梦死</div>
</form>
<form>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea textsms"></textarea>
                    <label for="textarea1" class="textsms" length="256">文本域</label>
                </div>
            </div>
        </form>
    </div>
</form>

</body>
</html>